img {
  width: 40%;
  border-radius: 2px;
  margin-bottom: 10px;
}

footer {
  margin: 25px;
}

nav {
  margin: 30px;
}

#ex {
  width: 200px;
}

#locations {
  margin-left: 25px;
}

.panel {
  padding: 0;
  margin: 5px;
  width: 32%;
}

.jumbotron {
  background: url('http://i.stack.imgur.com/jGlzr.png');
}